body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color:blanchedalmond; /* Grey background */
    padding: 150px;
    text-align: center;
    color: rgb(239, 25, 25);
  }
  
  .office-bearers {
    padding: 20px;
  }
  
  .office-bearers h2 {
    text-align: center;
  }
  
  .person {
    text-align: center;
  }
  
  .person img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .objectives {
    padding: 20px;
  }
  
  .objectives h2 {
    text-align: center;
  }
  
  .event-calendar {
    padding: 20px;
  }
  
  .event-calendar h2 {
    text-align: center;
  }
  
  .footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
  }
  
  .footer .contact,
  .footer .copyright {
    margin-bottom: 10px;
  }
  